body{
    background-color:#1D4221;
    color:white;
    font-family:"bai jamjuree", sans-serif;
    display:flex;
    hustify-content:center;
    align-items: center;
    height: 700p;
    margin: 0;

}